@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Geologica:wght,CRSV@100..900,0&family=Jersey+15&family=Londrina+Solid:wght@100;300;400;900&display=swap');
@font-face {
  font-family: 'PuffyFluffy';
  src: url('fonts/PUFFYFLUFFY.TTF') format('truetype');
}

body {
  margin: 0;
}

.main-display {
  background: #1d7ec3;
  color: #ffffff;
  background-image: url('public/cena1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.navbar {
  padding: 1.5rem;
  font-family: 'Londrina Solid';
}

.navbar-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size: 2rem;
}
.header-image {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.header-image{
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.info {
  font-family: 'Geologica';
  font-size: 1.5rem;
  color: #ffffff;
  width: 40%;
}

.header-footer {
  padding: 1.5rem;
  background-color: #42b9a6;
}

.social-media-icons--group{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.social-media-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 2.5rem;
  color: #ffffff;
  margin-top: 1rem;
}

.highlighted-info {
  font-family: 'Geologica';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #713dea;
  width: 20%;
  height: 2.5rem;
  border-radius: 3rem;
  padding: 0.5rem;
}

.highlighted-info p {
  text-align: center;
}

.video {
  background-color: #1c81c5;
}

.tablet {
  background-color: #266ba1;
}

.bullet-points-session {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Geologica';
  font-size: 1.8rem;
  background-color: #3a8bc6;
  padding: 1.5rem;
}

.bullet-points-session--title {
  border-radius: 1.5rem;
  padding: 1rem;
  background-color: #0d4168;
}

.bullet-points-session--highlight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  border-radius: 1.5rem;
  padding: 1rem;
  background-color: #0a5f9f;
  width: 60%;
}

.girl-session {
  background-color: #5d3798;
  color: #ffffff;
  font-family: 'Cherry Bomb One';
}

.note-book-session {
  background-color: #432476;
  color: #ffffff;
}

.footer {
  background-color: #3a8bc6;
}

.advantage-title {
  font-family: 'PuffyFluffy';
}

.tablet {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.questions {
  padding: 1.5rem;
  background-color: #0a5c9e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}public/cena1.png

.questions--title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  color: #0a5c9e;
  width: 50%;
  border-radius: 1rem;
}

.questions--content {
  background-color: #1c7ec4;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 1rem;
}

.questions--content ul li  {
  font-size: 1.5rem;
  font-family: 'Geologica';
  list-style: none;
  margin: 1rem;
}

.bonus{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bonus-highlight{
  height: 2rem;
  margin: 0.5rem;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background: linear-gradient(-90deg,rgba(131, 58, 180, 1) 0%, rgba(147, 88, 242, 1) 50%, rgba(255, 102, 0, 1) 100%);
}

.bonus--content{
  display: flex;
  flex-direction: row;
}

.bonus--text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  font-size: 1.5rem;
}


.tabelas{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.tabela-bonus li{
  font-family: 'Geologica';
  font-size: 1.5rem;
  height: 3.5rem;
  background-color: #4b9adc;
  border-radius: 0.75rem;
  margin: 0.5rem;
  padding: 0.25rem;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  max-width: 70%;
}
.question-button{
  border: 1px solid white;
  color: #ec8511;
  font-size: 3.5rem;
  font-family: 'Geologica';
  background-color: #ffffff;
  border-radius: 1.5rem;
  padding: 1rem;
  font-weight: 800;
}

.testimonial {
  position: relative;
  width: 80%;
  margin: 40px auto;
  padding: 25px 20px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  color: white;
}

.testimonial.orange {
  background: #ff7a00;
}

.testimonial.purple {
  background: #4a1b8b;
}

.avatar {
  display: flex;
  align-items: center;
}

.avatar img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background: #ddd;
}

.avatar.left {
  margin-right: 20px;
}

.avatar.right {
  margin-left: 20px;
}

.content h3 {
  margin: 0;
  font-size: 22px;
  font-weight: bold;
}

.stars {
  color: #fff;
  margin: 5px 0 10px 0;
  letter-spacing: 2px;
}

.content p {
  margin: 0;
  max-width: 450px;
  line-height: 1.4;
}

.menu {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 22px;
}

.testimonial.purple .menu {
  left: 20px;
  right: auto;
}

/* Setinha inferior */
.arrow {
  content: "";
  position: absolute;
  bottom: -15px;
  width: 0;
  height: 0;
  border-style: solid;
}

.testimonial.orange .arrow {
  left: 60px;
  border-width: 15px 15px 0 15px;
  border-color: #ff7a00 transparent transparent transparent;
}

.testimonial.purple .arrow {
  right: 60px;
  border-width: 15px 15px 0 15px;
  border-color: #4a1b8b transparent transparent transparent;
}
